.UserTypeSelect {

}

.UserTypeSelect .top-content {
  position: relative;
}

.UserTypeSelect .hover-content {
  margin-top: calc(var(--gutter-width) / 2);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: calc(var(--gutter-width) / 2);
}

.UserTypeSelect-img {
  width: calc(100% + (var(--gutter-width) * 2));
  max-width: calc(100% + (var(--gutter-width) * 2));
  margin: 0 calc(-1 * var(--gutter-width));
}

.UserTypeSelect .tagline {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.UserTypeSelect .signup {
  margin-bottom: 0;
  display: block;
  font-size: 0.75em;
  text-align: center;
}

@media (min-width: 1024px) {
  .UserTypeSelect .tagline {
    font-size: 1.5rem;
  }

  .UserTypeSelect .signup {
    font-size: 1.25em;
  }
}

.UserTypeSelect .content-grid {
  margin-top: calc(var(--gutter-width) / 2);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: calc(var(--gutter-width) / 2);
  margin-bottom: calc(var(--gutter-width) / 2);
}

.UserTypeSelect .content-grid .Card form {
  max-width: 320px;
  margin-top: auto;
}

.UserTypeSelect .next-section {
  position: relative;
  border-top: none;
  margin-left: calc(-1 * var(--gutter-width));
  margin-right: calc(-1 * var(--gutter-width));
  padding: calc(var(--gutter-width) / 2) var(--gutter-width);
}

.grid-image {
  max-width: 100%;
  max-height: 100%;
}

.UserTypeSelect .offset-header:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 5em;
  margin-top: -5em
}

@media (max-width: 900px) {
  .UserTypeSelect .hover-content {
    margin-top: calc(var(--gutter-width) / 2);
    position: relative;
    text-align: center;
    padding: calc(var(--gutter-width) / 2);
  }

  .UserTypeSelect .content-grid {
    margin-top: calc(var(--gutter-width) / 2);
    margin-bottom: calc(var(--gutter-width) / 2);
    display: flex;
    flex-direction: column;
  }
}