.Tabs {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #00000080;
  padding-top: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Tab + .Tab {
  margin-left: 1rem;
}

.Tab button {
  transform: translateY(0);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 white;
  transition: all 0.1s ease-in;
}

.Tab button:hover, .Tab button:focus {
  transform: translateY(-3px);
  box-shadow: 0 3px white;
  background-color: #00000080;
}

.Tab button:active {
  transform: translateY(-1px);
  box-shadow: 0 1px white;
  background-color: #000000ff;
}

.Tab.Tab-selected button {
  transform: translateY(-3px);
  box-shadow: 0 3px white;
  background-color: #000000ff;
}

.TabContent {
  margin-top: 1rem;
  display: none;
}

.TabContent.TabContent-selected {
  display: block;
}