.Navigation {
  z-index: 2;
  position: fixed;
  background-color: #000000ff;
  top: 0;
  left: 0;
  right: 0;
}

.Navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 32px;
  list-style: none;
}

.Navigation ul li {
  margin: 0;
  padding: 0;
}

.Navigation ul li+li {
  padding-left: 32px;
}

.Navigation ul li a {
  font-size: 1.5em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
  border-bottom: 3px solid transparent;
  border-radius: 3px;
}

.Navigation ul li a:hover {
  border-color: var(--secondary-color);
}