.BuilderSearchForm label{
  display: block;
  font-size: 2em;
}

.BuilderSearchForm .input-wrapper {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.BuilderSearchForm input {
  flex-grow: 1;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  color: black;
  margin: 0;
  padding: 16px;
  padding-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.BuilderSearchForm button.btn {
  font-size: 1.5rem;
  box-shadow: none;
  color: white;
  padding: 0 32px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.BuilderSearchForm button.btn:hover, .BuilderSearchForm button.btn:focus {
  transform: translateY(0);
  box-shadow: none;
}

.BuilderSearchForm button:active {
  transform: translateY(0);
  box-shadow: none;
}

@media (min-width: 1024px) {
  .BuilderSearchForm label {
    font-size: 3em;
  }

  .BuilderSearchForm input {
    font-size: 1.75em;
  }

  .BuilderSearchForm button {
    font-size: 1.75em;
    padding: 0 64px;
  }
}