.HomePage {
  
}

.HomePage .tagline {
  font-size: 1rem;
  line-height: 1.5;
}

.HomePage .signup {
  display: block;
  font-size: 0.75em;
  text-align: center;
}

@media (min-width: 1024px) {
  .HomePage .tagline {
    font-size: 1.5rem;
  }

  .HomePage .signup {
    font-size: 1.25em;
  }
}